body{
    text-align: center;
    margin: 0px;
    padding: 0px;

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    /*border: 1px solid red;*/
    height: 120px;
    width: 100%;
    /*background-color: wheat;*/
    background-color: white;
    border-top: 5px solid #61daf6;
    border-bottom: 3px solid gray;
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    /*border: 1px solid red;
    height: 90px;*/
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 70px;
    margin-top: -9px;
    margin-left: -10px;

    animation: girar infinite 20s linear;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand{
    display: block;
    float: left;
    margin: 0px;
    /*padding-top: 60px;
    padding-left: 5px;*/
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444444;
    transition: 300ms all;
}

#menu a:hover{
    color: red;
}

#slider{
    width: 100%;
    background: #61daf6;
    height: 350px;
    /*line-height: 320px;*/
    color: white;

    text-shadow: 0px 0px 5px #444444;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 140px;
    text-align: center;
}

.btn-white{
    display: block;
    color: rgb(128, 126, 1126);
    background: white;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444444;
    margin-top: 40px important;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background-color: #444444;
    color: white;
}

/*----*/

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
}

/*----*/

#content{
    width: 70%;
    float: left;
    /*border: 1px solid red;*/
    min-height: 600px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;
    /*border: 1px solid red;*/
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eeeeee;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background: rgb(45,129,77);
}

.btn-success:hover{
    background: black;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"],
textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #cccccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus{
    box-shadow: 0px 0px 2px #eeeeee inset;
}

textarea{
    width: 100%;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.radiobuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

/*Faltaria mejorar esta parte....*/
#footer{
    margin-top: 500px;
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444444;
}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #cccccc;
}

.articule-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(80,79,79);
}

.article-item a{
    display: block;
    color: #444444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

.clearfix{
    clear: both;
}

.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
} 

.article-detail .subheader{
    margin-bottom: 5px;
    border: none;
}

/*Responsives*/

@madia (max-width: 1164px){
    .center{
        width: 85%;
    }
}

@madia (max-width: 1026px){
    .center{
        width: 95%;
    }

    #menu ul{
        width: auto;
    }
}

@madia (max-width: 918px){
    #logo{
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }

    #menu,
    #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
        float: none;
        width: 60px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
}